@font-face {
    font-family: "Noto Serif";
    src: url(assets/noto.ttf);
}

body {
    background-color: #c0e6ad;
    display: block;
    margin: 8px;
    font-family: "Noto Serif",serif;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 5px;
}

.note {
    font-style: italic;
    font-weight: bold;
}

.paragraph {
    font-size: 14px;
    margin: 0 0 20px;
}

.btn {
    background-color: #5ead0f;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-family: "Noto Serif",serif;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 16px;
    padding: 6px 12px;
}

.btn:hover {
    background-color:  #5ead0fc3; 
    cursor: pointer;
}

.btn:active {
background-color:  #5ead0f70;
}

.social-link {
    color: #5ead0f;
    font-style:normal;
    font-weight: 700;
    margin-right: 9px;
    text-decoration: none;
}

.social-link:hover {
    color: #5ead0fc3;
}

.social-link:active {
    color:  #5ead0f70;
}

@media only screen and (max-width: 800px) {
    .container {
      width: 90%;
    }
  
    .title {
      font-size: 26px;
    }
  
}
  
@media only screen and (max-width: 450px) {
    .title {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
        padding: 4px 8px; 
        border-radius: 6px;
    }
}